[submodule "2048/Unity"]
	path = 2048/Unity
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "2048/CException"]
	path = 2048/CException
	url = git@github.com:ThrowTheSwitch/CException.git
[submodule "2048/CMock"]
	path = 2048/CMock
	url = git@github.com:ThrowTheSwitch/CMock.git
